.card {
  position: relative;
  width: 338px;
  height: 364px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 123px 10px 22px 19px;

  border-radius: 20px;
  border: 1px solid var(--new-group-color-bg-default-505, rgba(255, 255, 255, 0.05));
  background: var(--new-group-color-bg-default-505, rgba(255, 255, 255, 0.05));
  box-shadow: 4px 5px 30px 0 rgba(3, 29, 23, 0.44);
  backdrop-filter: blur(5px);

  transition:
    border-color 0.3s ease,
    background 0.3s ease;
}

.card:hover,
.card:focus-within {
  border-color: var(--primary-color-primary-500, #bde153);
  background: var(--primary-color-primary-50010, rgba(189, 225, 83, 0.1));
}

.title {
  margin-bottom: 17px;

  color: #fff;

  /* mobile/H3 */
  font-family: var(--Font-Serif-Typography, Montserrat);
  font-size: var(--Size-Mobile-H3-Small, 18px);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.text {
  margin-bottom: 21px;
  width: 288px;
  color: #fff;

  /* mobile/body-2 */
  font-family: var(--Font-Serif-Typography, Montserrat);
  font-size: var(--Size-Mobile-Body-xxsmall, 10.5px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.75px */
}

.icon {
  position: absolute;
  left: 63%; /* Ставить лівий край картинки рівно по центру картки */
  transform: translateX(-50%); /* Зсуває картинку вліво на половину її власної ширини */
  /* ------------------------- */

  /* Позиціювання по вертикалі */
  /* Замість bottom краще використовувати top з мінусовим значенням, 
     щоб картинка "виринала" з картки на фіксовану висоту */
  bottom: 60%;
}

.button {
  display: flex;
  width: 308px;
  height: 47px;
  padding: 26px 55px;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border-radius: 109px;
  border: 1px solid var(--primary-color-primary-50010, rgba(189, 225, 83, 0.1));
  background: var(--primary-color-primary-50010, rgba(189, 225, 83, 0.1));

  /* Blur */
  backdrop-filter: blur(24px);

  color: var(--New-group-color-bg-default-50, #fff);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: var(--Font-Serif-Typography, Montserrat);
  font-size: var(--Size-Desk-Body-xsmall, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
