.section {
  margin-top: 48px;
  margin-bottom: 48px;
}

.badge {
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 16px;
  padding: 5px 10px;

  color: #bde153;
  font-family: Montserrat;
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;

  border-radius: 999px;
  border: 1px solid rgba(189, 225, 83, 0.3);
  background: rgba(189, 225, 83, 0.1);
}

.title {
  margin-inline: auto;
  margin-bottom: 10px;
  width: 335px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  /* 106.667% */
  text-transform: uppercase;
}

.description {
  margin-inline: auto;
  margin-bottom: 24px;
  width: 335px;
  color: rgba(255, 255, 255, 0.72);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
}

@media screen and (min-width: 1280px) {
  .section {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .badge {
    margin-bottom: 30px;

    color: #bde153;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.96px;
    text-transform: uppercase;

    display: flex;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
  }

  .title {
    width: 760px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
    /* 110% */
    text-transform: uppercase;
  }

  .description {
    margin-bottom: 64px;
    width: 720px;
    color: rgba(255, 255, 255, 0.72);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
  }
}