.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 1280px) {
  .list {
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    gap: 24px;
  }
}
